* {
  margin: 0 auto;
  padding: 0 auto;
  font-family: Roboto, Helvetica;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  background: #111;
  color: #f5f5f5;
  line-height: 1.6;
}

/* Header */
header {
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}

header h1 {
  color: red;
  font-size: 1.5rem;
  margin: 0;
}

#logo img {
  margin-left: 1rem;
  height: 2.5rem;
  width: 120px;
  display: flex;
  transition: all 0.6s ease;
  opacity: 0.3s ease;
}

#logo img:hover {
  transform: scale(1.1) rotate(-3deg);
  opacity: 0.9;
}

#logo img.show {
  opacity: 1;
  transform: scale(1);
}

/* Navis */
nav {
  display: flex;
  margin-right: 15px;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  padding: 12px;
  border-radius: 10px;
}

nav a:hover {
  color: crimson;
}

.nav-links {
  display: flex;
  margin-right: 5rem;
  box-shadow: 0 0 10px #a00;
  border-radius: 10px;
}

/* Menu hamburguer */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  border-radius: 10px;
}

.hamburger span {
  background: #a00;
  height: 3px;
  width: 25px;
  margin: 4px;
  transition: 0.4s;
}

.hamburger span:hover {
  transform: 0.9s;
  color: #333;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #000;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 1rem;
    border-radius: 10px;
  }

  .nav-links.active {
    display: flex;
    box-shadow: 0 0 10px #a00;
  }

  .hamburger {
    display: flex;
  }
}

/* Seções */
section {
  padding: 100px 100px;
  min-height: 100vh;
}

#home {
  background: url("/Tattoo/img/pp.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
}

.titulo {
  color: #fff;
  text-shadow: 2px 2px 8px #a00;
  font-size: 2rem;
  margin-top: 30rem;
  justify-items: center;
}

@media (max-width: 600px) {
  #home {
    font-size: 5vh;
    width: 50%;
  }
}

@media (max-width: 600px) {
  .titulo h2,
  p {
    font-size: 15px;
    width: 10%;
  }
}

/* Seção serviço */
#services {
  background: #1a1a1a;
  text-align: center;
  padding: 100px 20px;
}

#services h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: crimson;
  display: inline-block;
  border: 4px dotted #a00;
  border-radius: 1rem;
  padding: 1rem;
}

.service-card {
  background: #222;
  margin: 1rem auto;
  gap: 15px;
  padding: 1.5rem;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 0 10px rgb(165, 9, 40);
}

/* Galeria */
#galeria {
  text-align: center;
  background: #1a1a1a;
}

#galeria h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: crimson;
  display: inline-block;
  border: 4px dotted #a00;
  border-radius: 1rem;
  padding: 1rem;
}

.galeria-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 15px;
}

.galeria-item {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px #a00;
  transition: 0.3s ease;
  transform: 0.3s;
  cursor: pointer;
}

.galeria-item img {
  display: block;
  position: relative;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s ease;
}

.galeria-item:hover img {
  transform: scale(1.5);
}

/* Modal */
.modal {
  position: fixed;
  inset: 0;
  display: none;
  opacity: 0;
  z-index: 1000;
  place-items: center;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.4s;
}

.modal.show {
  display: grid;
  opacity: 1;
}

.modal-conteudo {
  max-height: 90vw;
  max-width: 90vh;
  border-radius: 8px;
}

.modal .fechar {
  position: absolute;
  top: 1rem;
  left: 25rem;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  background: none;
  border: none;
  color: #a00;
}

/* Cadastro */
#cadastro {
  background: #111;
  text-align: center;
}

#cadastro form {
  background: #222;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 0 15px rgb(165, 9, 40);
}

#cadastro h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: crimson;
  display: inline-block;
  border: 4px dotted #a00;
  border-radius: 1rem;
  padding: 1rem;
}

@media (max-width: 600px) {
  #cadastro form {
    width: 90%;
  }
}

input,
textarea,
button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

input,
textarea {
  background: #333;
  color: white;
}

button {
  background: crimson;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: darkred;
}

#msg-sucesso {
  display: none;
  color: lightgreen;
  margin-top: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px 10px;
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
}

#footer-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#social-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 15px;
}

#social-icons a {
  color: #a00;
  font-size: 1.6rem;
  transition: 0.3s;
  box-shadow: #aedd;
}

#social-icons a:hover {
  color: #eeef42;
  transform: scale(1.2);
  box-shadow: #afee;
}

/* Slideshow */
#slideshow {
  width: 250px;
  height: 180px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(255, 255, 255, 0.2);
}

#slides {
  display: flex;
  width: 100%;
  animation: slide 12s infinite;
}

#slides img {
  width: 380px;
  height: 180px;
  object-fit: cover;
}

/* Animação */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-250px);
  }
  40% {
    transform: translateX(-250px);
  }
  45% {
    transform: translateX(-500px);
  }
  60% {
    transform: translateX(-500px);
  }
  65% {
    transform: translateX(-750px);
  }
  80% {
    transform: translateX(-750px);
  }
  85% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(-1000px);
  }
}

footer p {
  color: rgb(143, 9, 9);
  text-decoration: underline 1px;
  margin-top: 3rem;
  gap: 4rem;
  transition: 0.5s;
}

footer p:hover {
  transform: scale(1);
  transition: 0.8s;
}
